form {    
    display: flex;
    margin: 12px;
    padding: 4px;
    background: beige;
}

nav {
    display: flex;
    color: violet;
    border: black, solid;
    border-radius: 20px;
}

nav ul li {
    display: inline;
    padding: 50px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#span {
    font-weight: 300;
    font-size: large;
    color: red;
}